{% extends 'list.html' %}
{% load static %}
{% block assets_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th><i class="fa-solid fa-list-ol"></i> ID</th>
    <th><i class="fa-solid fa-address-card"></i> Nombres</th>
    <th><i class="fa-solid fa-user"></i> Username</th>
    <th><i class="fa-solid fa-circle-dot"></i> Estado</th>
    <th><i class="fa-solid fa-image"></i> Imagen</th>
    <th><i class="fa-solid fa-user-group"></i> Grupos</th>
    <th class="text-center"><i class="fa-solid fa-gear"></i> Opciones</th>
{% endblock %}

{% block javascript_list %}

{% endblock %}