<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted author">
            Desarrollado por <a class="author" target="_blank" href="https://www.youtube.com/@AlgoriSoft">{{ dashboard.author }}</a> | Modificado (?) y subido a la nube por <a href="https://github.com/CamiloJaraG" class="author text-danger">Camilo Jara</a> y <a href="https://github.com/Pranyium" class="author text-success">Sebastián Salazar</a>
        </span>
    </div>
</footer>