{% extends 'login/base.html' %}

{% block content_main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post" id="frmForm" autocomplete="off" data-url="{{ list_url }}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class="text-center mb-3">
                                <h1 class="display display-5">POS-STORE S.A.</h1>
                                <i class="{{ dashboard.icon }} fa-4x mb-3"></i>
                                <h1 class="h3 mb-3 fw-normal">Reseteo de contraseña</h1>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    {{ form.username }}
                                    <label for="{{ form.username.name }}">{{ form.username.label }}</label>
                                </div>
                            </div>
                            <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">
                                <i class="fas fa-sign-in-alt"></i> Recuperar contraseña
                            </button>
                            <p class="p-3 h6 details text-center">Si desea retornar <i class="fas fa-home"></i> puedes dar <a href="{% url 'login' %}">click</a> en el siguiente enlace.</p>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p class="mt-3 mb-0 text-muted"><i class="fa-solid fa-copyright"></i> 2023–2025</p>
                        <p class="text-muted">Subido a la nube con propósitos educativos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var form = $(this)[0];
                var args = {
                    'params': new FormData(form),
                    'success': function (request) {
                        alert_sweetalert({
                            'message': 'Se ha enviado un correo electrónico de recuperación de contraseña al email de tu cuenta',
                            'timer': 2500,
                            'callback': function () {
                                location.href = $(form).attr('data-url');
                            }
                        });
                    }
                };
                submit_with_formdata(args);
            });
        });
    </script>
{% endblock %}